# Ignore compiled Python files and cache
__pycache__/
**/__pycache__/

# Ignore virtual environment
venv/

# Ignore Docker-related files and directories
docker/*
!docker/Dockerfile
!docker/docker-compose.yaml

# Ignore .DS_Store files globally
.DS_Store/*

# Ignore specific JAR-related .DS_Store files
jars/.DS_Store